@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Work Sans", sans-serif;
}

@theme {
  --color-primary: #181A2A;
  --color-secondary: #4868FB;
  --color-accent: #E8E8EA;
}